<ng-container>
  <div class="timeline-title">Timeline Cases</div>

  <div class="timeline-controls">
    <mat-form-field class="timeline-search" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Search cases</mat-label>
      <input matInput [value]="searchTerm()" (input)="searchChanged($event)"
             placeholder="Title or case number">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-slide-toggle (change)="caseVisibilityChanged($event.checked)" labelPosition="before">Show Closed Cases
    </mat-slide-toggle>
  </div>

  <div class="timeline-wrapper">
    @if (this.journalCasesFiltered().length === 0) {
      <div class="case-timeline-empty">No Cases found.</div>
    } @else {
      @for (journalCase of this.journalCasesFiltered(); track journalCase.id) {
        <case-timeline-card
          [journalCase]="journalCase"
          (eventCreated)="this.loadData()"
          (caseStateChanged)="this.loadData()"
        />
      }
    }
  </div>
</ng-container>
