.edit-case-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px;
  justify-content: center;
}

.edit-case-title{
  font-size: x-large;
  text-align: center;
  padding-bottom: 12px;
}

.edit-case-row {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  justify-items: center;
  gap: 8px;
  // all children should have min-width: 100%
  > * {
    min-width: 100%;
  }
}

.colspan-2 {
  grid-column: span 2;
}

.edit-case-button {
  justify-content: center;
  min-width: 90%;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  max-width: fit-content;
  margin-left: auto;
  background-color: #cfcfcf;
  padding: 0.5rem 0;

  &:hover {
    cursor: pointer;
    background-color: #8c8c8c;
  }
}
