.service-details-wrapper {
  display: flex;
  gap: 6px;
  justify-content: center;
  flex-direction: column;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service-details-icons {
  display: flex;
  justify-content: center;
  gap: 8px;
}
